{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Admin Rekasa",
      "request": "launch",
      "type": "dart",
      "program": "lib/main_admin.dart",
      "toolArgs": [
        "--flavor",
        "admin",
        "--dart-define-from-file=.dart_define.admin.json",
        "--dart-define=APP_FLAVOR=admin"
      ]
    },
    {
      "name": "Karyawan Rekasa",
      "request": "launch",
      "type": "dart",
      "program": "lib/main_karyawan.dart",
      "toolArgs": [
        "--flavor",
        "karyawan",
        "--dart-define-from-file=.dart_define.karyawan.json",
        "--dart-define=APP_FLAVOR=karyawan"
      ]
    },
    {
      "name": "Member Rekasa",
      "request": "launch",
      "type": "dart",
      "program": "lib/main_member.dart",
      "toolArgs": [
        "--flavor",
        "member",
        "--dart-define-from-file=.dart_define.admin.json",
        "--dart-define=APP_FLAVOR=member"
      ]
    },
    {
      "name": "Optik Admin (kulit pelanggan)",
      "request": "launch",
      "type": "dart",
      "program": "lib/main_admin.dart",
      "toolArgs": [
        "--flavor",
        "admin",
        "--dart-define-from-file=.dart_define.admin.json",
        "--dart-define=APP_FLAVOR=admin",
        "--dart-define=ADMIN_TENANT_SLUG=optik-briski",
        "--dart-define=ADMIN_PIN_TENANT=true",
        "-PstoreApplicationId=com.optikbriski.admin",
        "-PstoreAppName=Optik Admin"
      ]
    },
    {
      "name": "Optik Karyawan (kulit pelanggan)",
      "request": "launch",
      "type": "dart",
      "program": "lib/main_karyawan.dart",
      "toolArgs": [
        "--flavor",
        "karyawan",
        "--dart-define-from-file=.dart_define.karyawan.json",
        "--dart-define=APP_FLAVOR=karyawan",
        "--dart-define=KARYAWAN_TENANT_SLUG=optik-briski",
        "--dart-define=PIN_STORE_TENANT=true",
        "-PstoreApplicationId=com.example.toko_kacamata_natan",
        "-PstoreAppName=Optik Karyawan"
      ]
    },
    {
      "name": "Optik Member (kulit pelanggan)",
      "request": "launch",
      "type": "dart",
      "program": "lib/main_member.dart",
      "toolArgs": [
        "--flavor",
        "member",
        "--dart-define-from-file=.dart_define.admin.json",
        "--dart-define=APP_FLAVOR=member",
        "--dart-define=MEMBER_TENANT_SLUG=optik-briski",
        "--dart-define=PIN_STORE_TENANT=true",
        "-PstoreApplicationId=com.optikbriski.member",
        "-PstoreAppName=Optik B. Riski"
      ]
    }
  ]
}
